/* 透明區域 */
.transparent-section {
  position: absolute;
  top: 1421px;
  height: 711px; /* 控制透明區域大小 */
  width: 393px;
  background: transparent; /* 透明背景，讓底層廣告可見 */
}

/* 廣告彈窗樣式 */
.ad-popup {
  position: fixed;
  width: 100%; /* 容器寬度占營幕的 90% */
  height:602;
  max-width: 335px; /* 最大寬度不超過 400px */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 0px;
  /*border-radius: 8px;*/
  opacity: 1; /* 初始不透明 */
  z-index: 0;
  text-align: center;
}

/* 圖片樣式 */

.ad-popup img {
    width: 100%; /* 將圖片寬度設為容器的 100% */
    max-width: 335px; /* 設置最大寬度，防止圖片過大 */
    height:602;
    height: auto; /* 保持圖片比例縮放 */
    display: block;
    margin: 0 auto; /* 讓圖片居中 */
}

.ad-popup p {
  margin: 0 0 10px;
}

.ad-popup.active {
    opacity: 1; /* 完全顯示 */
}


#adPopup button:hover {
  background: #d32f2f;
}

#nextPageButton {
  cursor: pointer; /* 鼠標變成點擊手勢 */
}

#lastPageButton {
  cursor: pointer; /* 鼠標變成點擊手勢 */
}